.jumbotron {
    padding-top: 6rem;
    background-color: #dbecd9;
}

#projects{
    background-color: #dbecd9;
}

section {
    padding-top: 5rem;
}

.gallery-img {
    width: 100%;
}

#gallery .row > * {
    padding: 0;
}

.custom-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  .custom-card:hover {
    transform: scale(1.05) translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }

  .card-img-wrapper {
    position: relative;
    overflow: hidden;
    border-bottom: 3px solid #dee2e6;
  }

  .card-img-wrapper img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  .custom-card:hover .card-img-wrapper img {
    transform: scale(1.1);
  }

  .card-body {
    padding: 20px;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #343a40;
  }

  .card-text {
    font-size: 0.9rem;
    color: #6c757d;
  }

  .card-body.text-center {
    text-align: center;
  }
  .dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  /* Ketika dropdown ditampilkan */
  .dropdown-menu.show {
    display: block;
    opacity: 1;
  }
  .img-hover {
    transition: all 0.3s ease;
  }

  .img-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .title-hover {
    transition: all 0.3s ease;
  }

  .title-hover:hover {
    transform: scale(1.05);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Text shadow effect */
    cursor: pointer;
  }
  .card:hover {
    cursor: pointer; 
  }
  @media (min-width: 768px) {
    footer h5 {
      font-size: 2rem;
    }
    footer p, footer a {
      font-size: 1.2rem;
    }
  }

  /* Responsif: Ukuran font menyesuaikan pada layar kecil */
  @media (max-width: 767px) {
    footer h5 {
      font-size: 1.5rem;
    }
    footer p, footer a {
      font-size: 1rem;
    }
  }
  .footer a:hover {
    color: #ffcc00;
    text-decoration: underline;
  }

  /* Responsif: Ukuran font besar pada layar besar */
  @media (min-width: 768px) {
    footer h5 {
      font-size: 2rem;
    }
    footer p, footer a {
      font-size: 1.2rem;
    }
  }

  /* Responsif: Ukuran font menyesuaikan pada layar kecil */
  @media (max-width: 767px) {
    footer h5 {
      font-size: 1.5rem;
    }
    footer p, footer a {
      font-size: 1rem;
    }
  }